hr {
    background-color: #563d7c;
    border-width: 2px;
}

.blogBtn{
    background-color: #563d7c;
}

.card {
    max-width:" 90vw";
}




.badgeMod {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
    border-radius: .25rem;
   
    
}

.shadow {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.shadow-sm{
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}